/* Header style codes for whole website */
.header{
	display: flex;
	align-items: center;
	gap: 20px;
}
.nav-button{
	margin: 10px;
}

.nav-container{
		display:flex;
		gap: 5px;
		align-items: center;
}

/* scratch this?
.images{
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: center;
}
.images img{
	height: 500px;
	width: 420px;
	object-fit: cover; 
}
*/
.header{
	font-family: "Asimovian", Static;
}
/* divider */

/* for pictures per subpage in characters and maybe mose as well? */
.content-row {
    display: flex;
    align-items: flex-start;
    gap: 30px; 
    padding: 20px;
}

.image-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hero-img {
    width: 300px; 
	height: auto;
    border-radius: 10px;
}

.hero-text {
    color: white;   
    max-width: 800px; 
}

/* button styles */
button, .nav-button {
    padding: 5px 8px;
    background-color: white;
    border: 2px solid white;
    color: black;
    font-size: 15px;
	font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

button:hover, .nav-button:hover {
    background: black;
    color: white;
}

button, .what{
	padding: 10px 20px;
	background-color: black;
	border: 3px black;
	color: black;
}

button:hover, .what:hover {
	background: black;
	color: black;
}
	
/* Search bar styles */
.search-container {
    display: flex;
    align-items: right;
    gap: 10px;
}

.search-container input {
    padding: 2px 7px;
    width: 100px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.search-container button {
    padding: 2px 7px;
    border-radius: 8px;
	background-color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


/* about page image formatting*/
.about-images {
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: center;
}

.about-images img{
	height: 500px;
	width: 420px;
	object-fit: cover;
}